

.container{
    display: grid;
    background-color:rgba(245, 245, 245, 0.76);
}
.picture{
    float:left;
    width: 20%;
}

.form-label  {
   float:right;
    width: 50%;
    font-weight: 300;
    font-size: 16px;
    color: #345F90;
}
    h2{
        color: #345F90;
        font-size: 24px;
        line-height: 1.25;
        font-family: "Roboto Slab", sans-serif;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
     
    #btn-esqueci-senha, #btn-adicionar-user, #btn-entrar,  #btn-limpar  {
        display: flex;
        margin-top: 30px;
        font-size: 12px;
        line-height: 1;
        font-weight:600;
        text-align: center;
        padding: 11px 20px;
        cursor: pointer;
        border-radius: 35px;
        border-width: 1px;
        border-style: solid;
        height: 35px;
    }
    
    #btn-esqueci-senha, #btn-limpar  {
        color: #345F90;
        background: #fff;
        border-color: #345F90;
    }
    
    #btn-adicionar-user, #btn-entrar {
        color: #fff;
        background: #345F90;
        border-color: #345F90;
    }