#pet_photo{
    border-radius: 50%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.66667;
    
    
}
.container{
    width: 75%;
    margin: 3rem auto;
    background-color:rgba(245, 245, 245, 0.76);
    display: flex;
    flex-flow: column;
    align-items:center;
    flex-wrap: nowrap;
}
h2{
    color: #345F90;
    font-size: 24px;
    line-height: 1.25;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


 

#salvar_pet {
    margin-top: 30px;
    float: right;
}

#botoes-rodape{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#btn-limpar, #btn-adicionar-pet {

    font-size: 12px;
    line-height: 1;
    font-weight:600;


    text-align: center;
    padding: 11px 20px;
    cursor: pointer;

    border-radius: 35px;

    border-width: 1px;
    border-style: solid;
    height: 35px;
}

#btn-limpar {
    color: #345F90;
    background: #fff;
    border-color: #345F90;
}

#btn-adicionar-pet, #btn-editar-pet {
    color: #fff;
    background: #345F90;
    border-color: #345F90;
}