body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;     
}

.container_index{
    width: 75%;
    margin: 3rem auto;
    background-color:rgba(250, 250, 250, 0.76);
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    padding: 50px;
}

#cabecalho_pets{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

h1{
    color: #062b57;
}

#adicionar_pet{
    display: flex;
    align-items: center;
}

#grid_pets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

#pet_card{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10%;
    background-color: white;
}

#pet_photo{
    border-radius: 15%;
    width: 180px; 
    height: 180px;

}

#pet_nome_card{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px; 
    color: #174272;
    margin-top: 10px;
}


.tab-slider--nav{
    float: left;
    margin-bottom: 20px;
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.tab-slider--tabs{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    border-color: #345F90;
    border-width: 1px;
    border-style: solid;
    height: 35px;
    user-select: none; 	
    display: flex;
    align-items: center;
}

.tab-slider--tabs:after{
        content: "";
        width: 50%;
        background: #345F90;
        height: 100%;
        position: absolute;
        left: 0;
        transition: all 250ms ease-in-out;
        border-radius: 35px;
    }

    .tab-slider--tabs.slide:after{
        left: 50%;
    }

.tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #345F90;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none; 
    left: 5px;
}

.tab-slider--trigger.active {
        color: #fff;
}

.tab-slider--body{
    margin-bottom: 20px;    
} 

#tituloModal{
    font-size: 20!important;
}


