#pet_menino{
    align-items:left;
    Width: 828px;
    Height:1024px;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.66667;
    
}
#login-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 93px;
    background: #002A48;
    font-size: 32px;
    line-height: 60px;

}


.container{
    width: 75%;
    margin: 3rem auto;
    background-color:rgba(245, 245, 245, 0.76);
    display: flex;
    flex-flow: column;
    align-items:center;
    flex-wrap: nowrap;
}


#cadastro_btn {
    color: #345F90;
    background: #fff;
    border-color: #345F90;
}

#cancel_btn {
    color: #fff;
    background: #345F90;
    border-color: #345F90;
}

#login_btn {
    height: 60px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 57px;
    padding: 14px 28px 10px 28px;
    color: #003459;
    }

    #esqueci_btn {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        background: #3690CF;


    }